<h1>Create a article</h1>
<%= form_for @article do |f| %>
  <p>
    <%= f.label :title %></p><br/>
    <%= f.text_field :title %>
  </p>
<p>
  <%= f.label :decription %><br>
  <%= f.text_area :decription %>
</p>
<p>
  <%= f.submit %>
</p>
  <% end %>
